.auth_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 0;
  background: url("../img/cinema.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(4px);
}

div.joinGuide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

div.joinModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 180px;
  background-color: #fff;
  padding: 0 30px;
  word-wrap: break-word;
  box-sizing: border-box;
  text-align: justify;
  font-size: 0.8rem;
}

div.joinModal>span {
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  color: #777;
}

div.joinModal>button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border: none;
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}

.auth_wrap>form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.auth_wrap>form>fieldset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.auth_wrap>form>fieldset>h1 {
  width: 300px;
  height: 85px;
  margin: 50px 0 50px;
}

.auth_wrap>form>fieldset>h1>img {
  width: 100%;
}

.auth_wrap>form>fieldset>h2 {
  color: #fff;
  font-size: 35px;
  margin: 0 0 40px 0;
  padding: 0;
}

.input_id,
.input_pw {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input_submit {
  width: 100%;
  height: 50px;
  background: #E50914;
  color: #fff;
  border: none;
  margin-top: 10px;
}

.auth_wrap>form>fieldset>span {
  display: block;
  color: #fff;
  margin: 20px 0 20px;
}

.auth_wrap>form>fieldset>span>a {
  color: #E50914;
  font-weight: bold;
  cursor: pointer;
}

.auth_wrap>form>fieldset>span>a:hover {
  text-decoration: underline;
}

@media screen and (max-width:768px) {
  .auth_background {
    display: none;
  }

  .auth_wrap>form>fieldset {
    justify-content: center;
    width: 100%;
    height: 100%;
  }


}