.auth_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 0;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/e126bdcb-28c1-441d-9fb4-0b1e5ef86f11/KR-ko-20230417-popsignuptwoweeks-perspective_alpha_website_large.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(4px);
}

.join_wrap>form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.join_wrap>form>fieldset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 480px;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}

.join_wrap>form>fieldset>h1 {
  width: 300px;
  height: 85px;
  margin: 50px 0 50px;
}

.join_wrap>form>fieldset>h1>img {
  width: 100%;
}

.join_wrap>form>fieldset>h2 {
  color: #fff;
  font-size: 35px;
  margin: 0 0 40px 0;
}

.input_id,
.input_pw {
  width: 100%;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.input_submit {
  width: 100%;
  height: 50px;
  background: #E50914;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.join_wrap>form>fieldset>span {
  display: block;
  color: #fff;
  margin: 20px 0 20px;
}

.join_wrap>form>fieldset>span>a {
  color: #E50914;
  font-weight: bold;
  cursor: pointer;
}

.join_wrap>form>fieldset>span>a:hover {
  text-decoration: underline;
}

@media screen and (max-width:768px) {
  .auth_background {
    display: none;
  }

  .join_wrap>form>fieldset {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .input_id,
  .input_pw,
  .input_submit {
    width: 80%;

  }

}